@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:wght@300;400;700&display=swap');


:root{
    --red: #E50914;
    --black: #141414;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    overflow-x: hidden; 
}

.bg-series {
    background-image: url(../midia/bb2.jpg);
    background-size: cover;
    height: 110vh;
}

.teste{
    height: 1500px;
}

.gradient{
    height: 100%;
    background-image: linear-gradient(to top, #141414, transparent);
}

.container{
    padding: 0 50px;
}

header .featured-video{
    min-height: 620px;
    position: absolute;
    left: 0;
    top: 0;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

header .top{
    display: flex;
    align-items: center;
    flex-direction: row;
}

header .logo{
    width: 140px;
    padding-right: 25px;
}

header nav a{
    color: var(--white);
    font-weight: 500;
    font-size: 0.85em;
    padding: 0 10px;
}

header .icons img {
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

header a:hover{
    color:#ffffff9f;
    transition: 0.3s;
}

header .icons .menu{
    display: flex;
    list-style: none;
}

main .container{
    
    display: block;
    margin-top:70px;
    margin-bottom: 165px;
    width: 65%
}

main .type-video img{
    width: 5%;
    padding-right: 2px;
    padding-bottom: 10px;
}

main .title-video img{
    width: 250px;
    padding-bottom: 10px;
}

main .text-video p{
    text-align: justify;
    font-weight: 500;
    padding-bottom: 20px;
}

main button{
    height: 50px;
    padding: 0 20px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 18px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

main .play:hover{
    background-color: #ffffffbd;
}

main i{
    width: 20px;
    margin-right: 5px;
}

main .i{
    color: white;
    background-color: #ffffff3b;
}

main .i:hover{
    background-color: #ffffff1f !important;transition: 1s;
}

section .category{
    display: block;
    z-index: 1;
}

section .category h2{
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
}

section .slide{
    padding-left: 50px;
    display:inline-flex;
}

section .slide-single{
    height: 10em;
    margin: 15px 10px 15px 0px;
}

section .slide-single:hover{
    transform: scale(2, 2);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}

section .scrolling img{
    width: 4%; 
    opacity: 0.02;
}

section .arrow-prev{
    position: relative;
    bottom: 110px;
    left: 3em;
    z-index: 2;
}
section .arrow-next{
    position: relative;
    bottom: 110px;
    left: 91%;
    z-index: 3;
}

section .scrolling img:hover{
    opacity: 0.8;
    transition: 0.3s;
    
}

section .slide-single:hover{
    transform: scale(1.1, 1.2);
    transition: 1s;
} 

footer{
    margin-left: 10%;
}

footer .social, .info{
    display: flex;
    color: var(--white);
}

footer .social{
    margin-bottom: 3%;  
}

footer .social i{
    font-size: 23px;
    padding-right: 30px;
}

footer .info ul{
    margin-right: 5%;
    margin-bottom: 3%;
    color: #ffffff7c;
    font-size: 12px;
}

footer .info li{
    list-style: none;
    padding: 10px 0;
}

footer .info-footer{
    flex-direction: row;
}

footer button{
    background-color: var(--black);
    border: 1px solid #ffffff7c;
    color: #ffffff7c;
    padding: 10px;
    font-weight: 300;
    font-family: 'Montserrat', arial, sans-serif;
    margin-bottom: 3%;
}

footer p{
    color: #ffffff7c;
    font-size: 10px;
    padding-bottom: 5%;
}

/* RESPOSIVE */

@media (max-width: 760px){
    header nav a{
        display: none;
    }

    main .container{
        width: 90%;
    }

    main button{
        flex-direction: row;
        height: 35px;
        width: 200px;
        font-size: 15px;
        margin-bottom: 5px;
    }
}

@media (max-width: 500px){

    header .logo{
        width: 120px;
    }

    header .icons img {
        height: 20px;
    }

    main .container{
        width: 100%;
        margin: auto;
    }

    main .type-video img{
        width: 9%;
        padding-right: 2px;
        padding-top: 30px;
    }

    main .title-video img{
        width: 220px;
        margin: auto;
    }

    main .text-video p{
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    main button{
        height: 35px;
        width: 100%;
        font-size: 15px;
        margin-bottom: 5px;
    }

    section .category{
        margin-top: 10px;
        width: 100%;
    }

    footer{
        width: 50%;
        margin: 0;
    }

    footer .info ul{
        font-size: 9px;
        padding-right: 15%;
    }

    footer .info-footer {
        width: 300px;
        margin-right: 5%;
    }


}

